button {
  background-color: red;
}

button:hover {
  background-color: peru;
}

// :global rule for all button variants
// This should also work when I use the .button class in the app WITHOUT using the Button component
:global(.button) {
  padding: 100px;
}
